
  <!-- ***** Main Banner Area Start ***** -->

  <app-nav-front></app-nav-front>
  <section id="section-1">
    <div class="content-slider">
      <input type="radio" id="banner1" class="sec-1-input" name="banner" checked>
      <input type="radio" id="banner2" class="sec-1-input" name="banner">
      <input type="radio" id="banner3" class="sec-1-input" name="banner">
      <input type="radio" id="banner4" class="sec-1-input" name="banner">
      <div class="slider">
        <div id="top-banner-1" class="banner">
          <div class="banner-inner-wrapper header-text">
            <div class="main-caption">
              <h2>Take a Glimpse Into The Beautiful Country Of:</h2>
              <h1>Caribbean</h1>
              <div class="border-button"><a href="about.html">Go There</a></div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="more-info">
                    <div class="row">
                      <div class="col-lg-3 col-sm-6 col-6">
                        <i class="fa fa-user"></i>
                        <h4><span>Population:</span><br>44.48 M</h4>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-6">
                        <i class="fa fa-globe"></i>
                        <h4><span>Territory:</span><br>275.400 KM<em>2</em></h4>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-6">
                        <i class="fa fa-home"></i>
                        <h4><span>AVG Price:</span><br>$946.000</h4>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-6">
                        <div class="main-button">
                          <a href="about.html">Explore More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="top-banner-2" class="banner">
          <div class="banner-inner-wrapper header-text">
            <div class="main-caption">
              <h2>Take a Glimpse Into The Beautiful Country Of:</h2>
              <h1>Switzerland</h1>
              <div class="border-button"><a href="about.html">Go There</a></div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="more-info">
                    <div class="row">
                      <div class="col-lg-3 col-sm-6 col-6">
                        <i class="fa fa-user"></i>
                        <h4><span>Population:</span><br>8.66 M</h4>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-6">
                        <i class="fa fa-globe"></i>
                        <h4><span>Territory:</span><br>41.290 KM<em>2</em></h4>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-6">
                        <i class="fa fa-home"></i>
                        <h4><span>AVG Price:</span><br>$1.100.200</h4>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-6">
                        <div class="main-button">
                          <a href="about.html">Explore More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="top-banner-3" class="banner">
          <div class="banner-inner-wrapper header-text">
            <div class="main-caption">
              <h2>Take a Glimpse Into The Beautiful Country Of:</h2>
              <h1>France</h1>
              <div class="border-button"><a href="about.html">Go There</a></div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="more-info">
                    <div class="row">
                      <div class="col-lg-3 col-sm-6 col-6">
                        <i class="fa fa-user"></i>
                        <h4><span>Population:</span><br>67.41 M</h4>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-6">
                        <i class="fa fa-globe"></i>
                        <h4><span>Territory:</span><br>551.500 KM<em>2</em></h4>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-6">
                        <i class="fa fa-home"></i>
                        <h4><span>AVG Price:</span><br>$425.600</h4>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-6">
                        <div class="main-button">
                          <a href="about.html">Explore More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="top-banner-4" class="banner">
          <div class="banner-inner-wrapper header-text">
            <div class="main-caption">
              <h2>Take a Glimpse Into The Beautiful Country Of:</h2>
              <h1>Thailand</h1>
              <div class="border-button"><a href="about.html">Go There</a></div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="more-info">
                    <div class="row">
                      <div class="col-lg-3 col-sm-6 col-6">
                        <i class="fa fa-user"></i>
                        <h4><span>Population:</span><br>69.86 M</h4>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-6">
                        <i class="fa fa-globe"></i>
                        <h4><span>Territory:</span><br>513.120 KM<em>2</em></h4>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-6">
                        <i class="fa fa-home"></i>
                        <h4><span>AVG Price:</span><br>$165.450</h4>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-6">
                        <div class="main-button">
                          <a href="about.html">Explore More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="controls">
          <label for="banner1"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">1</span></label>
          <label for="banner2"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">2</span></label>
          <label for="banner3"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">3</span></label>
          <label for="banner4"><span class="progressbar"><span class="progressbar-fill"></span></span><span class="text">4</span></label>
        </div>
      </nav>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->
  
  <div class="visit-country">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading">
            <h2>Visit One Of Our Cities Now</h2>
            <p>Explore Tunisia with us.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="items">
            <div class="row">
              <div class="col-lg-12">
                <div class="item">
                  <div class="row">
                    <div class="col-lg-4 col-sm-5">
                      <div class="image">
                        <img src="./assets/imagesf/ain-draham.jpg" alt="">
                      </div>
                    </div>
                    <div class="col-lg-8 col-sm-7">
                      <div class="right-content">
                        <h4>AIN DRAHAM</h4>
                        <span>North Tunisia</span>
                        <div class="main-button">
                          <a routerLink="/reservation">Explore More</a>
                        </div>
                        <p>One of the most beautiful places in north Tunisia. You can visit now.</p>
                        
                        <div class="text-button">
                          <p>
                            <a class="" style="color: rgb(77, 185, 247);" (click)="collapse.toggle()"
                            [attr.aria-expanded]="!gfg" aria-controls="collapseExa1" data-bs-target="#collapseExa1">
                            Comment <i class="bi bi-chat-dots"></i>
                            </a>
                          </p>
                        </div>
                        <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;" id="collapseExa1"
                        #collapse="ngbCollapse" [(ngbCollapse)]="gfg">
                        <app-addcomment></app-addcomment>
                        <br>
                        <div class="card">
                            <div class="card-body p-4">
                                <h4 class="text-center mb-4 pb-2">Nested comments section</h4>
          
                                <div class="row">
                                    <app-display-comment-reponse></app-display-comment-reponse>
                                    <app-addreponse></app-addreponse>
          
                                </div>
                            </div>
                        </div>
          
          
                    </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-lg-12">
                <div class="item">
                  <div class="row">
                    <div class="col-lg-4 col-sm-5">
                      <div class="image">
                        <img src="assets/imagesf/nabeul.jpg" alt="">
                      </div>
                    </div>
                    <div class="col-lg-8 col-sm-7">
                      <div class="right-content">
                        <h4>NABEUL</h4>
                        <span>North Tunisia</span>
                        <div class="main-button">
                          <a routerLink="/reservation">Explore More</a>
                        </div>
                        <p>Discover Nabeul with us, and enjoy.</p>
                        
                        <div class="text-button">
                            <p>
                            <a class="" style="color: rgb(77, 185, 247);" (click)="collapse.toggle()"
                            [attr.aria-expanded]="!ggg" aria-controls="collapseExa2" data-bs-target="#collapseExa2">
                            Comment <i class="bi bi-chat-dots"></i>
                            </a>
                          </p>
                          
                        </div>
                        <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;" id="collapseExa2"
                        #collapse="ngbCollapse" [(ngbCollapse)]="ggg">
                        <app-addcomment></app-addcomment>
                        <br>
                        <div class="card">
                            <div class="card-body p-4">
                                <h4 class="text-center mb-4 pb-2">Nested comments section</h4>
          
                                <div class="row">
                                    <app-display-comment-reponse></app-display-comment-reponse>
                                    <app-addreponse></app-addreponse>
          
                                </div>
                            </div>
                        </div>
          
          
                    </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="item last-item">
                  <div class="row">
                    <div class="col-lg-4 col-sm-5">
                      <div class="image">
                        <img src="assets/imagesf/Tozeur.jpg" alt="">
                      </div>
                    </div>
                    <div class="col-lg-8 col-sm-7">
                      <div class="right-content">
                        <h4>TOZEUR</h4>
                        <span>Suth Tunisia</span>
                        <div class="main-button">
                          <a routerLink="/reservation">Explore More</a>
                        </div>
                        <p>Are you ready to explore Tozeur.</p>
                        
                        <div class="text-button">
                          <p>
                            <a class="" style="color: rgb(77, 185, 247);" (click)="collapse.toggle()"
                            [attr.aria-expanded]="!gff" aria-controls="collapseExa3" data-bs-target="#collapseExa3">
                            Comment <i class="bi bi-chat-dots"></i>
                            </a>
                          </p>
                        </div>
                        <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;" id="collapseExa3"
                        #collapse="ngbCollapse" [(ngbCollapse)]="gff">
                        <app-addcomment></app-addcomment>
                        <br>
                        <div class="card">
                            <div class="card-body p-4">
                                <h4 class="text-center mb-4 pb-2">Nested comments section</h4>
          
                                <div class="row">
                                    <app-display-comment-reponse></app-display-comment-reponse>
                                    <app-addreponse></app-addreponse>
          
                                </div>
                            </div>
                        </div>
          
          
                    </div>
                      </div>
                    </div>
                  </div>
                </div>

               
              </div>
              <div class="col-lg-12">
                <ul class="page-numbers">
                  <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                  <li><a href="#">1</a></li>
                  <li class="active"><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="side-bar-map">
            <div class="row">
              <div class="col-lg-12">
                <div id="map">
                  <img src="assets/imagesf/tunisia.jpg" alt="" width="100%" height="550px" frameborder="0" style="border:0; border-radius: 23px; " allowfullscreen="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h2>Are You Looking To Travel ?</h2>
          <h4>Make A Reservation By Clicking The Button</h4>
        </div>
        <div class="col-lg-4">
          <div class="border-button">
            <a href="reservation.html">Book Yours Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>