

      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-12" style="padding-left: 20px;">
          <div class="card text-dark" style="text-align: center;width: 600px;margin-left: 150px;">

            <div class="col-lg-12">

              <br>
              <form #f="ngForm">
                <h3 style="color: #22b3c1;"><strong> Add rating</strong></h3>
                <ngb-rating [(ngModel)]="avis.valeur_avis" name="rate"[formControl]="ctrl"></ngb-rating>
                <div class="form-text small">
                  <div *ngIf="ctrl.valid" class="text-success"><i class="bi bi-emoji-smile-fill"></i> Thanks!</div>
                  <div *ngIf="ctrl.invalid" class="text-danger"><i class="bi bi-exclamation-octagon-fill"></i> Please rating us</div>
                </div>
                <hr />
                <p>Rating: <b>{{ avis.valeur_avis }}</b></p>
                <div>
                  <button class="btn btn-primary btn-rounded" [disabled]="ctrl.invalid" (click)="save()" style="margin-bottom: 40px;">Ajouter</button>
                  <button type="reset" (click)="ctrl.setValue(null)" class="btn btn-rounded" id="cancel" style="margin-bottom: 40px;margin-left: 20px;">Cancel</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
   